{% if article.tags %}
    <div class="tags-container mt-1">
        <div class="flex flex-wrap items-start justify-end gap-1">
            {% for tag in article.tags %}
                <a class="bg-transparent text-gray-400 border-1 border-gray-300 rounded-full px-1 text-xs hover:bg-gray-400 hover:text-gray-300 hover:border-transparent transition duration-400" href="{{ SITEURL }}/{{ tag.url }}">
                    {{ tag | escape }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
