{% if article.tags %}
    <div class="tags-container mt-1">
        <div class="flex flex-wrap items-start justify-end gap-1">
            {% for tag in article.tags %}
                <a class="bg-transparent text-gray-600 border-2 border-blue-200 rounded-full px-1 text-xs hover:bg-blue-400 hover:text-gray-100 hover:border-transparent transition duration-200" href="{{ SITEURL }}/{{ tag.url }}">
                    {{ tag | escape }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
