{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Tags{% endblock %}

{% block content %}

<section id="content" class="body p-6">
    <h1 class="text-2xl font-bold mb-4">Tags for {{ SITENAME }}</h1>
    <ul class="flex flex-wrap gap-2">
        {% for tag, articles in tags|sort %}
            <li>
                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">
                    {{ tag }} ({{ articles|count }})
                </a>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
