/* Montserrat Font Face Definitions */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
  local('Montserrat Regular.ttf'),
  local('Montserrat-Regular.ttf'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src:
  local('Montserrat Bold.ttf'),
  local('Montserrat-Bold.ttf'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src:
  local('Montserrat Black.ttf'),
  local('Montserrat-Black.ttf'),
  url('../fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src:
  local('Montserrat Italic.ttf'),
  local('Montserrat-Italic.ttf'),
  url('../fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src:
  local('Montserrat Bold Italic.ttf'),
  local('Montserrat-BoldItalic.ttf'),
  url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src:
  local('Montserrat Black Italic.ttf'),
  local('Montserrat-BlackItalic.ttf'),
  url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src:
  local('Montserrat Extra Light.ttf'),
  local('Montserrat-ExtraLight.ttf'),
  url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src:
  local('Montserrat Extra Light Italic.ttf'),
  local('Montserrat-ExtraLightItalic.ttf'),
  url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src:
  local('Montserrat Light.ttf'),
  local('Montserrat-Light.ttf'),
  url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src:
  local('Montserrat Light Italic.ttf'),
  local('Montserrat-LightItalic.ttf'),
  url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src:
  local('Montserrat Medium.ttf'),
  local('Montserrat-Medium.ttf'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src:
  local('Montserrat Medium Italic.ttf'),
  local('Montserrat-MediumItalic.ttf'),
  url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
  local('Montserrat Semi Bold.ttf'),
  local('Montserrat-SemiBold.ttf'),
  url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src:
  local('Montserrat Semi Bold Italic.ttf'),
  local('Montserrat-SemiBoldItalic.ttf'),
  url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src:
  local('Montserrat Extra Bold.ttf'),
  local('Montserrat-ExtraBold.ttf'),
  url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src:
  local('Montserrat Extra Bold Italic.ttf'),
  local('Montserrat-ExtraBoldItalic.ttf'),
  url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src:
  local('Montserrat Thin.ttf'),
  local('Montserrat-Thin.ttf'),
  url('../fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src:
  local('Montserrat Thin Italic.ttf'),
  local('Montserrat-ThinItalic.ttf'),
  url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
}
